
<nav mat-nav-list class="admin-nav">
    <mat-list-item routerLink="/managerDashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/managerOparational" routerLinkActive="active">
      <mat-icon>assignment</mat-icon>
      <span>Bookings & Reservations</span>
    </mat-list-item>
  
    <!-- <mat-list-item routerLink="/managerFinancial" routerLinkActive="active">
      <mat-icon>savings </mat-icon>
      <span>Financial</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/managerProcessing" routerLinkActive="active">
      <mat-icon>payment</mat-icon>
      <span>Payment Processing</span>
    </mat-list-item> -->
  
    <!-- <mat-list-item routerLink="/managerStaffManagement" routerLinkActive="active">
      <mat-icon>group</mat-icon>
      <span>Staff Management</span>
    </mat-list-item> -->
  
    <!-- <mat-list-item routerLink="/staffManagment" routerLinkActive="active"> -->
      <!-- <mat-icon>message</mat-icon> -->
      <!-- <span>Staff Managment</span> -->
    <!-- </mat-list-item> -->

    <!-- <mat-list-item routerLink="/managerTaskManagement" routerLinkActive="active">
        <mat-icon>task</mat-icon>
        <span>Task</span>
      </mat-list-item> -->
    <mat-list-item routerLink="/managerReport" routerLinkActive="active">
      <mat-icon>analytics</mat-icon>
      <span>Reporting & Analytics</span>
    </mat-list-item>
  </nav>
  