
<nav mat-nav-list class="admin-nav">
    <mat-list-item routerLink="/frontManagerDashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/reservationManagement" routerLinkActive="active">
      <mat-icon>event</mat-icon>
      <span>Reservations Management</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/roomVenueConfig" routerLinkActive="active">
      <mat-icon>hotel</mat-icon>
      <span>Room & Venue Configuration</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/payment-processing" routerLinkActive="active">
      <mat-icon>payment</mat-icon>
      <span>Payment Processing</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/staffManagement" routerLinkActive="active">
      <mat-icon>group</mat-icon>
      <span>Staff Management</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/communicationCenter" routerLinkActive="active">
      <mat-icon>message</mat-icon>
      <span>Communication Center</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/reportAnalytics" routerLinkActive="active">
      <mat-icon>analytics</mat-icon>
      <span>Reporting & Analytics</span>
    </mat-list-item>
  </nav>
  