<nav mat-nav-list class="admin-nav">
  <mat-list-item routerLink="/adminDashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </mat-list-item>
  <mat-list-item routerLink="/userManagement" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>Manager Management</span>
  </mat-list-item>
  <mat-list-item routerLink="/adminFrontManager" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>FrontManager Management</span>
  </mat-list-item>
  <mat-list-item routerLink="/adminFrontStaff" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>FrontStaff Management</span>
  </mat-list-item>
  <mat-list-item routerLink="/adminRoomVenueConfiguration" routerLinkActive="active">
    <mat-icon>hotel</mat-icon>
    <span>Room & Venue Configuration</span>
  </mat-list-item>
  <mat-list-item routerLink="/reservation-list" routerLinkActive="active">
    <mat-icon>event</mat-icon>
    <span>Customer Resevation</span>
  </mat-list-item>
 
  <mat-list-item  routerLink="active">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </mat-list-item>
</nav>
