<div class="header">
  <div class="logo">
    <span class="dot"></span>
    <h1>Venues</h1>
  </div>
  <div class="nav">
    <a href="">Home</a>
    <a href="roombooking">Rooms</a>
    <a href="venuebooking">Venue</a>
  </div>
</div>

<div class="hotel-card">
  <div class="description-container">
    <h2>SuzaHotel</h2>
    <p>Explore over 200 world-class venues for all your event needs</p>
    
    <div class="filter">
        <!-- View Options -->
        <div class="view">
            <span>View as</span>
            <button class="grid">
                <i class="fas fa-th-large"></i> <!-- Grid Icon -->
            </button>
            <button class="list">
                <i class="fas fa-list"></i> <!-- List Icon -->
            </button>
        </div>

       

        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" placeholder="Search Venues by Name or Location" />
            <button class="search">Search</button>
        </div>
    </div>

    <!-- New feature for rating -->
    <div class="rating">
        <p>Rating: ★★★★☆ (4.5/5 based on customer reviews)</p> <!-- Add customer review stats -->
    </div>
</div>