
<nav mat-nav-list class="admin-nav">
    <mat-list-item routerLink="/staffDashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/staffReservation" routerLinkActive="active">
      <mat-icon>event</mat-icon>
      <span>Reservations</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/CheckIn-CheckOut" routerLinkActive="active">
      <mat-icon>hotel</mat-icon>
      <span>CheckIn-CheckOut</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/staffProcessing" routerLinkActive="active">
      <mat-icon>payment</mat-icon>
      <span>Payment Processing</span>
    </mat-list-item>
  
    <mat-list-item routerLink="/staffGuest" routerLinkActive="active">
      <mat-icon>group</mat-icon>
      <span>Guest Management</span>
    </mat-list-item>
  
    <!-- <mat-list-item routerLink="/staffCommunication" routerLinkActive="active"> -->
      <!-- <mat-icon>message</mat-icon> -->
      <!-- <span>Communication Center</span> -->
    <!-- </mat-list-item> -->

    <mat-list-item routerLink="/staffTask" routerLinkActive="active">
        <mat-icon>task</mat-icon>
        <span>Task</span>
      </mat-list-item>
    <mat-list-item routerLink="/staffReport" routerLinkActive="active">
      <mat-icon>analytics</mat-icon>
      <span>Reporting & Analytics</span>
    </mat-list-item>
  </nav>
  