<h1 mat-dialog-title>Book a Venue</h1>
<div mat-dialog-content>
  <form [formGroup]="bookingForm">
    <mat-form-field>
      <input matInput placeholder="Check-in Date" [matDatepicker]="checkInPicker" formControlName="checkIn">
      <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
      <mat-datepicker #checkInPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Check-out Date" [matDatepicker]="checkOutPicker" formControlName="checkOut">
      <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
      <mat-datepicker #checkOutPicker></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput placeholder="Arrival Time" [matTimepicker]="arrivalTimePicker" formControlName="arrivalTime">
      <mat-timepicker-toggle matSuffix [for]="arrivalTimePicker"></mat-timepicker-toggle>
      <mat-timepicker #arrivalTimePicker></mat-timepicker>
    </mat-form-field> -->

    <mat-form-field>
      <input matInput type="number" placeholder="Number of Guests" formControlName="numberOfGuests">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Special Requests" formControlName="specialRequest"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Status" formControlName="status">
        <mat-option value="pending">Pending</mat-option>
        <mat-option value="confirmed">Confirmed</mat-option>
        <mat-option value="canceled">Canceled</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit()">BOOK NOW</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>