<h1 mat-dialog-title>Book a Venue</h1>
<div mat-dialog-content>
  <form [formGroup]="bookingForm">
      <mat-form-field>
      <input matInput placeholder="Event date" [matDatepicker]="picker" formControlName="eventDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Payment" formControlName="payment">
        <mat-option value="advance">Advance</mat-option>
        <mat-option value="full">Full Payment</mat-option>
      </mat-select>
    </mat-form-field>

  
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit()">BOOK NOW</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>
