.reservation-form {
  max-width: 800px; /* Adjusted for wider form */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  justify-content: space-between; /* Space between the two inputs */
  margin-bottom: 15px; /* Space between rows */
}

.form-group {
  flex: 1; /* Allow the form groups to grow */
  margin-right: 10px; /* Space between the two inputs */
}

.form-group:last-child {
  margin-right: 0; /* Remove margin for the last item */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="date"],
input[type="time"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}